@import url("https://use.typekit.net/pqk0cnf.css");

body{
    
    font-family: poppins, sans-serif;
    
}


.header-image{
    cursor: pointer;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 2em;
}

